/tmp
tmp_*.sh
tmp_*.json
**/tmp_*.yml
**/tmp_*.yaml
.env.production

certificate.pem.crt
public.pem.key
private.pem.key
root-ca.crt

~/.kube/eksctl/clusters/*
lafleet-cluster.eksctl.lock
lafleet-auto.yaml*
kubectl
get_helm.sh
*.env.production-values
sqs_policy-values.json

eks/redisearch-performance-analytics-py_service.yml
eks/sqsconsumer-toredisearch-js_deployment.yml
eks/redisearch-query_service.yml
eks/devices-extreme_job.yml
